.unit-card {
    cursor: pointer;
    transition: 0.2s ease;
}

.selected-unit {
    border: 2px solid #1b96ff;
    background: #f0f8ff;
    box-shadow: 0 0 0 1px #1b96ff inset;
}


.disabled-unit {
    opacity: 0.4;
    pointer-events: none;
}

